<div class="question_show">
  <h1>Question:<%= @question.title %></h1>
  <br>
  <%= @question.body %>
  <br>
  <%= @question.user.username %>
  <br>
  <%= @question.votes %>
  <div class="best_answer">
    <% if @question.best_answer %>
      Best Answer: <%= @question.best_answer.body %>
      <%= @question.best_answer.user.username %>
      <%= @question.best_answer.votes %>
    <% end %>
  </div>

 <div class="question_comments">
    <ul>
      <% @question.comments.each do |comment| %>
      <ul>
        <li>Comment:<%= comment.body %></li>
        <li><%= comment.user.username %></li>
        <li><%= comment.votes %></li>
        <br>
      </ul>
      <% end %>
    </ul>
  </div>
  <div class="question_answers">
    <ul>
      <% @question.answers.each do |answer|  %>
        <ul>
          <li>Answer:<%= answer.body %></li>
          <li><%= answer.user.username %></li>
          <li><%= answer.votes %></li>
          <br>
        </ul>
        <div class="answer_comments">
        <% answer.comments.each do | comment | %>
          <ul>
            <li>Answer Comment: <%= comment.body %></li>
            <li><%= comment.user.username %></li>
            <li><%= comment.votes %></li>
            <br>
          </ul>
        <% end %>
        </div>
      <% end %>
    </ul>
  </div>
</div>
