<div class="question">
  <h2> <%= @question.title %> </h2>
  <table>
    <tr>
      <td>
        <form class="question-vote" method="POST" action="/questions/<%=@question.id%>/votes">
          <input type="hidden" name="value" value="1">
          <button type="submit" class="qvote block fa fa-chevron-up upvote-button"></button>
        </form>
      </td>
      <td rowspan="3" class="item">
        <%= @question.body %>
        <span class="author">
          -<%= @question.user.username %> <%= @question.created_at %>
        </span>
      </td>
    </tr>

    <tr>
      <td class="vote-count"><span><%= @question.votes.sum(:value) %></span></td>
    </tr>
    <tr>
      <td>
        <form method="POST" action="/questions/<%=@question.id%>/votes" class="inline">
          <input type="hidden" name="value" value="-1">
          <button type="submit" class="block fa fa-chevron-down downvote-button"></button>
        </form>
      </td>
    </tr>
  </table>
</div>

  <div class="question_comments">
  <a href="/questions/<%= @question.id %>/comments/new" class="comment_link">Comment</a>
    <h3>Comments on this question:</h3>
    <% @question.comments.each do | comment | %>
    <ul>
      <table>
        <tr>
          <td>
            <form method="POST" action="/questions/<%=@question.id%>/comments/<%=comment.id%>">
              <input type="hidden" name="value" value="1">
              <button type="submit" class="block fa fa-chevron-up upvote-button"></button>
            </form>
          </td>
          <td rowspan="3" class="comment-item"><%= comment.body %><span class="comment-author"><%= comment.user.username %> <%= comment.created_at %></span>
          </td>
        </tr>

        <tr>
          <td class="vote-count"><span class="vote-count"><%= comment.votes.sum(:value) %></span></td>
        </tr>

        <tr>
          <td>
            <form method="POST" action="/questions/<%=@question.id%>/comments/<%=comment.id%>" class="inline">
              <input type="hidden" name="value" value="-1">
              <button type="submit" class="block fa fa-chevron-down downvote-button"></button>
            </form>
          </td>

        </tr>
      </table>
  </ul>
</div>
<% end %>
</ul>

<div class="question_answers">
  <h3><%= @question.answers.count %> Answers</h3>
   <div class="best_answer">
    <% if @question.best_answer %>
      Best Answer: <%= @question.best_answer.body %>
      <%= @question.best_answer.user.username %>
      <%= @question.best_answer%>
    <% end %>
  </div>
  <a href="/questions/<%= @question.id %>/answers/new" class="comment_link">Answer this question:</a>
    <% @question.answers.each do |answer|  %>
      <ul>
      <table>

        <tr>
          <td>
            <form class="answer-vote" method="POST" action="/answers/<%=answer.id%>/votes">
              <input type="hidden" name="value" value="1">
              <button type="submit" class="block fa fa-chevron-up upvote-button"></button>
            </form>
          </td>

          <td rowspan="3" class="answer-item">
            <%= answer.body %>
            <span class="answer-author">-<%= answer.user.username %> <%= answer.created_at %></span>
          </td>

        </tr>

        <tr>
          <td class="vote-count"><span class="vote-count"><%= answer.votes.sum(:value) %></span></td>
        </tr>

        <tr>
          <td>
            <form class="answer-vote" method="POST" action="/answers/<%=answer.id%>/votes" class="inline">
              <input type="hidden" name="value" value="-1">
              <button type="submit" class="block fa fa-chevron-down downvote-button"></button>
            </form>
          </td>
        </tr>

      </table>
      <a href="/answers/<%= answer.id %>/comments/new" class="comment_link">Comment</a>
    </ul>
    </div>
  </div>

    <div class="answer_comments">
      <% answer.comments.each do | comment | %>

      <ul>
        <table>
        <tr>
          <td>
            <form method="POST" action="/answers/<%=answer.id%>/comments/<%=comment.id%>">
              <input type="hidden" name="value" value="1">
              <button type="submit" class="block fa fa-chevron-up upvote-button"></button>
            </form>
          </td>
          <td rowspan="3" class="comment-item"><%= comment.body %><span class="comment-author"><%= comment.user.username %> <%= comment.created_at %></span>
          </td>
        </tr>

        <tr>
          <td class="vote-count"><span class="vote-count"><%= comment.votes.sum(:value) %></span></td>
        </tr>

        <tr>
          <td>
            <form method="POST" action="/answers/<%=answer.id%>/comments/<%=comment.id%>" class="inline">
              <input type="hidden" name="value" value="-1">
              <button type="submit" class="block fa fa-chevron-down downvote-button"></button>
            </form>
          </td>

        </tr>
      </table>
      </ul>
    </div>


      <% end %>

    </div>
    <% end %>
  </ul>
</div>
</div>
