<div class="question_show">
  <h1><%= @question.title %></h1>
  <br>
  <%= @question.body %>
  <br>
  <%= @question.user.username %>
  <br>
  <%= @question.votes %>

 <div class="question_comments">
    <ul>
      <% @question.comments.each do |comment| %>
      <ul>
        <li><%= comment.body %></li>
        <li><%= comment.user.username %></li>
        <li><%= comment.votes %></li>
        <br>
      </ul>
      <% end %>
    </ul>
  </div>
  <div class="question_answers">
    <ul>
      <% @question.answers.each do |answer|  %>
        <ul>
          <li><%= answer.body %></li>
          <li><%= answer.user.username %></li>
          <li><%= answer.votes %></li>
          <br>
        </ul>
        <div class="answer_comments">
        <% answer.comments.each do | comment | %>
          <ul>
            <li><%= comment.body %></li>
            <li><%= comment.user.username %></li>
            <li><%= comment.votes %></li>
            <br>
          </ul>
        <% end %>
        </div>
      <% end %>
    </ul>
  </div>
</div>
