<div class="question">
  <h2> <%= @question.title %> </h2>

  <table class="votable">
    <tr>
      <td>
        <form class="question-vote" method="POST" action="/questions/<%=@question.id%>/votes">
          <input type="hidden" name="value" value="1">
          <button type="submit" class="qvote block fa fa-chevron-up upvote-button"></button>
        </form>
      </td>
      <td rowspan="3" class="item">
        <%= @question.body %>
        <span class="author">
          <%= (Time.now - (Time.now - @question.updated_at)).ago_in_words %>
            <span class="un"><%= @question.user.username %></span>
        </span>
      </td>
    </tr>

    <tr>
      <td class="vote-count"><span><%= @question.votes.sum(:value) %></span></td>
    </tr>

    <tr>
      <td>
        <form class="question-vote inline" method="POST" action="/questions/<%=@question.id%>/votes">
          <input type="hidden" name="value" value="-1">
          <button type="submit" class="block fa fa-chevron-down downvote-button"></button>
        </form>
      </td>
    </tr>
  </table>
</div>

  <div class="question_comments">
  <a href="/questions/<%= @question.id %>/comments/new" class="comment_link">Comment</a>
    <h3>Comments on this question:</h3>
    <% @question.comments.each do | comment | %>
    <ul>
      <table class="votable">
        <tr>
          <td>
            <form class="q-comment-vote" method="POST" action="/questions/<%=@question.id%>/comments/<%=comment.id%>/votes">
              <input type="hidden" name="value" value="1">
              <button type="submit" class="block fa fa-chevron-up upvote-button"></button>
            </form>
          </td>
          <td rowspan="3" class="comment-item">
          <%= comment.body %>
          <span class="comment-author">
            <%= (Time.now - (Time.now - comment.updated_at)).ago_in_words %>
            <span class="un"><%= comment.user.username %></span>
            </span>
          </td>
        </tr>

        <tr>
          <td class="vote-count"><span class="vote-count"><%= comment.votes.sum(:value) %></span></td>
        </tr>

        <tr>
          <td>
            <form class="q-comment-vote inline" method="POST" action="/questions/<%=@question.id%>/comments/<%=comment.id%>/votes">
              <input type="hidden" name="value" value="-1">
              <button type="submit" class="block fa fa-chevron-down downvote-button"></button>
            </form>
          </td>

        </tr>
      </table>
  </ul>
</div>
<% end %>
</ul>

<div class="question_answers">
  <h3><%= @question.answers.count %> Answers</h3>
   <div class="best_answer">
    <% if @question.best_answer %>
      Best Answer: <%= @question.best_answer.body %>
      <%= (Time.now - (Time.now - @question.best_answer.updated_at)).ago_in_words %>
        <span class="un">
          <%= @question.best_answer.user.username %>
        </span>
    <% end %>
  </div>
  <a href="/questions/<%= @question.id %>/answers/new" class="comment_link">Answer this question:</a>
    <% @question.answers.each do |answer|  %>
      <ul>
      <table class="votable">

        <tr>
          <td>
            <form class="answer-vote" method="POST" action="/answers/<%=answer.id%>/votes">
              <input type="hidden" name="value" value="1">
              <button type="submit" class="block fa fa-chevron-up upvote-button"></button>
            </form>
          </td>

          <td rowspan="3" class="answer-item">
            <%= answer.body %>
            <span class="answer-author">
              <%= (Time.now - (Time.now - answer.updated_at)).ago_in_words %>
              <span class="un">
                  <%= answer.user.username %>
              </span>
              <% if current_user && @question.user.id == current_user.id %>
                <p>      <a href="/questions/<%= @question.id %>/answers/<%= answer.id %>/best">Mark best answer</a></p>
              <% end %>
            </span>
          </td>

        </tr>

        <tr>
          <td class="vote-count"><span class="vote-count"><%= answer.votes.sum(:value) %></span></td>
        </tr>

        <tr>
          <td>
            <form class="answer-vote inline" method="POST" action="/answers/<%=answer.id%>/votes">
              <input type="hidden" name="value" value="-1">
              <button type="submit" class="block fa fa-chevron-down downvote-button"></button>
            </form>
          </td>
        </tr>

      </table>
      <a href="/answers/<%= answer.id %>/comments/new" class="comment_link">Comment</a>
    </ul>
    </div>
  </div>

    <div class="answer_comments">
      <% answer.comments.each do | comment | %>

      <ul>
        <table class="votable">
        <tr>
          <td>
            <form class="a-comment-vote" method="POST" action="/answers/<%=answer.id%>/comments/<%=comment.id%>/votes">
              <input type="hidden" name="value" value="1">
              <button type="submit" class="block fa fa-chevron-up upvote-button"></button>
            </form>
          </td>
          <td rowspan="3" class="comment-item">
          <%= comment.body %>
          <span class="comment-author">
            <%= (Time.now - (Time.now - comment.updated_at)).ago_in_words %>
            <span class="un">
              <%= comment.user.username %>
            </span>
          </span>
          </td>
        </tr>

        <tr>
          <td class="vote-count"><span class="vote-count"><%= comment.votes.sum(:value) %></span></td>
        </tr>

        <tr>
          <td>
            <form class="a-comment-vote"method="POST" action="/answers/<%=answer.id%>/comments/<%=comment.id%>">
              <input type="hidden" name="value" value="-1">
              <button type="submit" class="block fa fa-chevron-down downvote-button"></button>
            </form>
          </td>

        </tr>
      </table>
      </ul>
    </div>


      <% end %>

    </div>
    <% end %>
  </ul>
</div>
</div>
