<h2>Comment on an answer!</h2>

<div class="general_form">
  <h3>Question: <%= @question.title  %></h3>
  <p> <%= @question.body %> </p>
  <p>Answer: <%= @answer.body %></p>

  <div>
    <% if @errors %>
        <%= erb :'/partials/_errors' %>
    <% end %>
  </div>

  <form action="/answers/<%= @answer.id %>/comments" method="POST" id=  "comment_form">
    <textarea rows="4" cols="50" name="body" form="comment_form"  placeholder="Enter comment here"></textarea>
    <br>
    <input type="submit" value="Comment">

  </form>
</div>
